<header class="d-flex justify-content-between align-items-center mb-5 animate__animated animate__fadeInDown">
    <div class="logo-text">markitos en.</div>
    <div class="controls d-flex gap-3">
        <div class="control-btn dark-toggle" id="theme-toggle">
            <i class="fa-solid fa-moon"></i>
        </div>
        <div class="control-btn button-themable-toggle" onclick="document.location.href='/register'">
            <i class="fa fa-key" aria-hidden="true" onclick="document.location.href='/register'"></i>            
        </div>
    </div>
</header>