
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script>
      if (localStorage.getItem("theme") === "dark")
        document.documentElement.classList.add("dark-theme");
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Markitos - DevSecOps Kulture. the artisan path</title>
    <meta
      name="description"
      content="Professional journey and technical expertise of Marco Antonio, Elite Design Systems Architect and Agile Developer."
    />
    <link rel="icon" href="/assets/img/favicon.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>
  <body>